body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 6px rgb(115, 232, 224);
    border-radius: 5px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    color: #333;
}

.week-dates {
    font-weight: bold;
}

.day {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
